<!DOCTYPE html>
<link rel="stylesheet" href="{{ asset('styles/landing/landing-style.css') }}">
{% block body %}
    <div class="container">
        <h1 id="header">Barcode Erstellen</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
